<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IMS</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="sidenav">
      <a href="/registerItem">Register New Item</a>
      <br />
      <a href="/itemdetails">Check Item Details</a>
      <br />
      <a href="/stockcard">Stock Card</a>
      <br />
      <a href="/stocktransc">Perform Stock Transaction</a>
      <br />
      <a href="/contact">About</a>
      <br />
    </div>

    <div class="main logo">
      <a href="/"><h1>IMS System</h1></a>
    </div>

    <div class="main">
