<%- include("partials/header.ejs") %>

<h3>Search Stock</h3>
<form action="/stocktransc" method="POST">
    <label for="itemid">Item ID:</label>
    <input type="number" name="itemid" id="itemid">
    <br>
    <label for="itemname">Item Name:</label>
    <input type="text" name="itemname" id="itemname">
    <br>
    <label for="brand">Brand :</label>
    <input type="text" name="brand" id="brand">
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
</form>


<%- include("partials/footer.ejs") %>